body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
  body .App {
    text-align: center; }
    body .App .App-header {
      background-color: #222;
      height: 150px;
      padding: 20px;
      color: #FF851B; }
      body .App .App-header .App-logo {
        animation: App-logo-spin infinite 5s linear;
        height: 80px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
    body .App .App-intro {
      font-size: large; }
