.Servers
	position: absolute
	left: 50%
	width: 50%
	opacity: 1
	height: 100%
	transition: .2s
	background-color: $dark
	color: $light
	border-bottom-right-radius: inherit

	&.hidden
		height: 0px
		opacity: 0
		left: 65%
	.label-servers
		padding: 0px 5px 0px 5px

		.icon
			display: inline-block
			color: white
			width: 30px

		.info
			display: inline-block
			width: calc(100% - 30px)
			color: white
			word-wrap: break-word

			.name
				display: inline-block
				width: 30%

			.mod
				display: inline-block
				width: 15%

			.mapName
				display: inline-block
				width: 30%

			.nbPlayers
				display: inline-block
				width: 15%

			.ping
				display: inline-block
				width: 10%
	.server
		margin: 0
		padding: 0px 5px 0px 5px
		cursor: pointer
		user-select: none

		&:hover, &.selected
			background-color: $light
			color: $dark

		.icon
			width: 30px
			height: 30px

		.info
			display: inline-block
			width: calc(100% - 30px)

			.name
				display: inline-block
				width: 30%

			.mod
				display: inline-block
				width: 15%

			.mapName
				display: inline-block
				width: 30%

			.nbPlayers
				display: inline-block
				width: 15%

			.ping
				display: inline-block
				width: 10%

	.list
		position: relative
		display: block
		overflow: auto

		&::-webkit-scrollbar
			width: 3px
			background-color: $dark

		&::-webkit-scrollbar-thumb
			background-color: darkgray
			border-radius: 1px